{% extends 'mainapp/base.html' %}
{% block content %}
  <div class='row'>
    <div class='col-md-8'>
    	<video width="768" height="432" controls>
  			<source src="{{ object.video.url }}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	<div class="border-bottom mb-4 mt-4">
		<h4>{{ object.title }}</h4>
	</div>
	<div>
		<p><strong>{{ object.author }}</strong></p>
		<p class="text-muted">{{ object.date_posted|date:"F d, Y" }}</p>
		<p>{{ object.description }}</p>
	</div>
	</div>
  </div>
{% endblock content %}